{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 pt-4">
    <h1 class="text-center mb-5">Our Tour Packages</h1>
    
    <div class="row g-4">
        {% for package in packages %}
        <div class="col-md-4">
            <div class="card h-100">
                <img src="{{ package.image.url }}" class="card-img-top" alt="{{ package.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ package.name }}</h5>
                    <p class="text-muted">{{ package.duration }}</p>
                    <p class="card-text">{{ package.summary }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="text-primary">IDR {{ package.price }}</h4>
                        <a href="{% url 'tour_detail' package.slug %}" class="btn btn-primary">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}